.header{
    justify-content: center;
    align-items: center;     
    display: flex; 
    padding: 8vh 0;     
}

.read{
    background-color: #EE4248;
    color: white;
    padding: 1vh 2vw;
}

.graphic{
    text-align: center;    
}

@media (max-width: 768px){
    .header{text-align: center; flex-direction: column-reverse;}
    .group{width: 100%;}        
}

@media (min-width: 768px){
    .header{padding: 8vh 5vw;}
}